#gwrapper {
  position: absolute;
  top:0; bottom: 0; left: 0; right: 0;
  margin: auto;
}

table.game_board {
	border-spacing: 0px; /* space between table elements */
}

table.game_board td {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  padding: 0px;
}

div.game_enabled {
	display: table;
  background: #3b88d8;
  background: -moz-linear-gradient(0% 100% 90deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
  border-top: 1px solid #4081af;
  border-right: 1px solid #2e69a3;
  border-bottom: 1px solid #20559a;
  border-left: 1px solid #2e69a3;
  -moz-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 2px 0 #b3b3b3;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
}

div.game_enabled:hover {
  background: #2a81d7;
  background: -moz-linear-gradient(0% 100% 90deg, #206bcb, #3e9ee5);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3e9ee5), to(#206bcb));
  border-top: 1px solid #2a73a6;
  border-right: 1px solid #165899;
  border-bottom: 1px solid #07428f;
  border-left: 1px solid #165899;
  -moz-box-shadow: inset 0 1px 0 0 #62b1e9;
  -webkit-box-shadow: inset 0 1px 0 0 #62b1e9;
  cursor: pointer;
  text-shadow: 0 -1px 1px #1d62ab;
}

div.game_disabled,div.game_disabled:hover {
  background: #999;
  background: -moz-linear-gradient(0% 100% 90deg, #dadada, #f3f3f3);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dadada), to(#f3f3f3));
  border-top: 1px solid #c5c5c5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #cecece;
  color: #8f8f8f;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  cursor: default;
  text-shadow: 0 -1px 1px #ebebeb;
  width: 30px;
  height: 30px;
}

div.game_disabled {
	opacity: 1;
  transition: opacity 0.5;
}

div.game_enabled span {
	display: table-cell; vertical-align: middle;
	width: 100%;
	height: 100%;
}

span.game_mine {
  background: url('rc/3078-48x48x32.png');
	opacity: 0.75;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

span.game_bmine {
	background-image: url('rc/3080-48x48x32.png');	
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

span.game_flag {
  background-image: url('rc/3079-48x48x32.png');  
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#face_status {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 32px;
  width: 32px;
}

#config {
  display: table-cell;
  background-image: url('rc/config.png'); 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
}

div.game_face_good {
  background-image: url('rc/smile-happy.png');  
}

div.game_face_lost {
  background-image: url('rc/smile-cry.png');  
}

div.game_face_won {
  background-image: url('rc/smile-glasses.png');  
}

.gfooter {
  top: 0;
}

.gfooter .inner {
  top: 0;
  position:relative;
}
.gfooter .inner .right, .gfooter .inner .left{
  /*width:50%; */
  display: table-cell;
  position:absolute;
}
.gfooter .inner .right{
  right:0; 
  text-align: right;
}
.gfooter .inner .left{
  left:0;
}

#game_board {

  padding-top: 33px;
}

.gtitle {
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
  font-size: 30px;
  font-family: Monospace;
  font-style: italic;
}

.gheader {
  text-align: center;
}

div.gflag {
  font-size: 15px;
  font-family: Monospace;
  font-style: italic;
  padding-bottom: -1px;
  background-color: black;
}